.details-container {
  margin-left: 3%;
}
.fit-btn {
  height: 15vh;
  width: 13vw;
  outline: none;
  border: none;
  background-color: transparent;
}

.game-container {
  width: 50vw;
  height: 25vh;
  margin-left: 25%;
  display: grid;
  place-items: center;
  grid-template-columns: 60px 60px 60px;
}

.box {
  outline: none;
  border: 1px solid black;
}

.box:nth-child(1) {
  border-left: none;
  border-top: none;
}

.box:nth-child(2) {
  border-top: none;
}
.box:nth-child(3) {
  border-right: none;
  border-top: none;
}
.box:nth-child(4) {
  border-left: none;
}
.box:nth-child(6) {
  border-right: none;
}
.box:nth-child(7) {
  border-left: none;
  border-bottom: none;
}
.box:nth-child(8) {
  border-bottom: none;
}
.box:nth-child(9) {
  border-right: none;
  border-bottom: none;
}
